figure {
    float      : right;
    width      : min-content;
    text-align : center;
    font-style : italic;
    font-size  : smaller;
    text-indent: 0;
    border     : thin silver solid;
    padding    : 0.5em;
    width      : 300px;
}

img.scaled {
    min-width: 210px;
    max-width: 250px;
}

.pic-text {
    padding-right: 30px;
}

@media(max-width: 900px) {
    figure {
        display: block;
        margin : 0 auto;
        float  : none;

    }

    img.scaled {
        min-width: 210px;
        max-width: 250px;
    }

    .pic-text {
        padding-right: 0px;
    }
}