.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1400px;
}

h2, h3, table, .info {
    margin: 0 auto;
}

h2 {
    padding-bottom: 30px;
    padding-top: 30px;
}

figure {
    float: right;
    width: min-content;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    padding: 0.5em;
    width: 300px;
  }
  img.scaled {
    min-width: 210px;
    max-width: 250px;
  }

.population {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.table {
    max-width: 887px;
}
.table td, .table th {
    padding: 10px;
}

@media(max-width: 900px) {
    figure {  
        display: block;
        margin: 0 auto;
        float: none;
      }
      img.scaled {
        min-width: 210px;
        max-width: 250px;
      }
}