/* General */
.general {
    margin: 20px;
}

.flag, .emblem {
    float: right;
    margin: 0 0 15px 20px;
    padding: 15px;
    width: fit-content;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    border-radius: 5px;
}

#flag {
    width: 100%;
    max-width: 385px;
}

#emblem {
    width: 100%;
    max-width: 315px;
}