figure {
  float      : right;
  text-align : center;
  font-style : italic;
  font-size  : smaller;
  text-indent: 0;
  border     : thin silver solid;
  padding    : 0.5em;
}

figcaption {
  background-color: rgb(212, 212, 212);
}

#flag {
  width: 400px;
}

#emblem {
  width: 300px;
}

@media(max-width: 900px) {
  figure {
    display: block;
    margin : 0 auto;
    float  : none;
  }

}