* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* f85a40  - secondary color*/
body {
    color: #222222;
    /*default color*/
}

a {
    color          : #008374;
    /*primary color*/
    text-decoration: none;
}

a:hover {
    color          : #00b6a1;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
    padding : 60px 0;
    overflow: hidden;
}

.sections-bg {
    background-color: #f6f6f6;
}

.section-header {
    text-align    : center;
    padding-bottom: 60px;
}

.section-header h2 {
    font-size     : 32px;
    font-weight   : 600;
    margin-bottom : 20px;
    padding-bottom: 20px;
    position      : relative;
}

.section-header h2:after {
    content   : "";
    position  : absolute;
    display   : block;
    width     : 50px;
    height    : 3px;
    background: #222222;
    left      : 0;
    right     : 0;
    bottom    : 0;
    margin    : auto;
}

.section-header p {
    margin-bottom: 0;
    color        : #6f6f6f;
}

/* Nav */
.topbar {
    background: #00796b;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
  }
  
  .topbar .contact-info i {
    font-style: normal;
    color: #fff;
    line-height: 0;
  }
  
  .topbar .contact-info i a,
  .topbar .contact-info i span {
    padding-left: 5px;
    color: #fff;
  }
  
  @media (max-width: 575px) {
  
    .topbar .contact-info i a,
    .topbar .contact-info i span {
      font-size: 13px;
    }
  }
  
  .topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
  }
  
  .topbar .contact-info i a:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  .topbar .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
  }
  
  .topbar .social-links a:hover {
    color: #fff;
  }
  
  .header {
    transition: all 0.5s;
    z-index: 997;
    height: 90px;
    background-color: #008374;
  }
  
  .header.sticked {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  }
  
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
  }
  
  .header .logo h1 span {
    color: #f96f59;
  }
  
  .sticked-header-offset {
    margin-top: 70px;
  }
  
  section {
    scroll-margin-top: 70px;
  }